# Server Environment Variables
PORT=5000
NODE_ENV=development


# 🔐 CORS Configuration
CORS_ORIGIN=http://localhost:3000
CORS_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_HEADERS=Content-Type,Authorization
CORS_CREDENTIALS=true

# 🔐 Database Configuration
DATABASE_URL=postgres://nikhil:root@localhost:5432/dj_blasters_db

# 🔐 Clerk Configuration

CLERK_PUBLISHABLE_KEY=your-clerk-publishable-key
CLERK_SECRET_KEY=your-clerk-secret-key
CLERK_WEBHOOK_SIGNING_SECRET=your-clerk-webhook-signing-secret

# 🔐 Cricbuzz API Key
CRICBUZ_API_KEY=your-cricbuzz-api-key